/* src/app/components/home/home.component.scss */

.home-container {
  padding: 16px;

  .categories {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px;
    justify-items: center;
  }

  .category-card {
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
  }

  @media (max-width: 600px) {

    .categories {
      grid-template-columns: 1fr;
    }

  }
}
